<MudPaper Outlined="true" Elevation="2" Width="100%" Style="padding:0em 1em">
    <MudText><span>Name:&nbsp;</span>@Team.Name</MudText>
    <MudText><span>Description:&nbsp;</span>@Team.Description</MudText>
    <MudText><span>Team members:&nbsp;</span>@TeamMembers</MudText>
</MudPaper>